* text=auto
*.css linguist-vendored
*.less linguist-vendored
*.jsp eol=lf
*.xml eol=lf
*.properties eol=lf
*.txt eol=lf
*.html eol=lf
*.htm eol=lf
*.java eol=lf
*.css eol=lf
*.js eol=lf
*.jar binary
*.war binary
*.zip binary
*.png binary
*.jpg binary
*.gif binary
